//Tipografia
$font-titulo: 'DM Serif Display', serif;
$font-parrafos: 'Nunito Sans', sans-serif;

//colores

$fondo-dark: #2D471C;
$fd-verde-claro-plantas: #ECF2E6;
$fd-maceta: #EAEDF2;
$fd-accesorios: #F7EDEE;
$bg-boton: #688F4E;
$color-titulos: #303E47;
$color-parrafo: #FFFFFD;
$icons-dark: #000;
$fd-footer: #F9F9F9;
$white : #fff;

// Tamaño de Media Query

$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopLarge: 1200px;